@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    overflow-x: hidden;
}

.centrado{
    height: 100vh;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}



.loader {
    width: 106px;
    height: 56px;
    display: block;
    margin: 30px auto;
    background-image: linear-gradient(#e1e1e1 50px, transparent 0), linear-gradient(#e1e1e1 50px, transparent 0), linear-gradient(#e1e1e1 50px, transparent 0), linear-gradient(#e1e1e1 50px, transparent 0), radial-gradient(circle 14px, #e1e1e1 100%, transparent 0);
    background-size: 48px 15px , 15px 35px, 15px 35px, 25px 15px, 28px 28px;
    background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border: 6px solid #e1e1e1;
    border-radius: 50%;
    left: -45px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#e1e1e1 64px, transparent 0), linear-gradient(#e1e1e1 66px, transparent 0), radial-gradient(circle 4px, #e1e1e1 100%, transparent 0);
    background-size: 40px 1px , 1px 40px, 8px 8px;
    background-position: center center;
    box-sizing: border-box;
    animation: bike 0.3s linear infinite;
}

.loader::before {
    left: 25px;
    top: 60px;
}

@keyframes bike {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
} 





.img{
    max-width: 100%;
}

header{
    min-height: 100vh;
}

.containerr{
    background-color: #ffffff;
    width: 100vw;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    padding: 0 20px;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 10px;
}

.navbar ul li a {
    color: black;
    background-color: transparent;
}

.navbar ul li a:hover{
    color: #dd5151;
}

.navbar .btn-barra{
    color: #fff;
    background-color:#F21616;
    background-size: cover;
    border-radius: 20px;
    padding: 15px;
}

.navbar .btn-barra:hover{
    background-image: linear-gradient(225deg, #fc7777 0, #fc7777 50%, #fc7777 100%);
    color: #fff;
}
#menu{
    display: none;
}

.menu-icono{
    width: 50px;
}

.menu label{
    cursor: pointer;
    display: none;
}


.header-content{
    display: flex;
  }
  
  .header-txt{
    flex-basis: 50%;
    padding-left: 900px;
    flex-wrap: wrap;
  }
  
  .header-txt h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 250px;
    color: #fff;
  }
  
  .header-txt p{
    font-size: 20px;
    color: #c1c1c1;
    margin-bottom: 50px;
    padding-top: 25px;
    color: #fff;
  }
  
  .btn-prin{
    display: inline-block;
    padding: 13px 30px;
    background: #21A642;
    color: #ffff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    margin-left: 120px;
  }
  
  .btn-prin:hover{
    background: #ffff;
    color: #21A642;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  }
  
  .header-content{
    background: url(/eventosimg/pexels-wendywei-1540406\ 1.png) no-repeat;
    height: 86vh;
    display: flex;     
    background-size:cover;
    background-position: center;
    max-width: 100%;
  }


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-container {
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
}



.overlay {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 122, 40, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title,
.price {
    color: #187a30;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color: #8a1919;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}







@media(max-width:1024px){
    .container{
            margin: 0 auto;
            background-color: #ffffff;
            width: 100vw;
        }
    
        .menu{
            padding: 30px;
            position: relative;
        }
    
        .menu label{
            display: initial;
            padding-top: 30px;
        }
    
        .menu .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background:   linear-gradient(45deg, #21a642 0%,#545454 100%);
            display: none;
        }
        .menu .navbar ul{
            flex-direction: column;
            padding: 0 20px;
        }
    
        .menu .navbar ul li{
            width: 100%;
            padding: 15px 0;
            text-align: center;
            font-size: 25px;
        }
    
        .menu .navbar ul li a:hover{
            color: #1f0c42;
        }
        .navbar .btn-barra{
            background-color: transparent;
            color: #e72424;
        }
    
    
        #menu:checked ~ .navbar{
            display: initial;
        }
    
        .header-txt{
            flex-wrap: wrap;
            padding-left: 500px;
        }
        .header-txt h1{
            font-size: 40px;
            font-weight: 600;
            margin-top: 250px;
            color: #fff;
            flex-wrap: wrap;
        }
        
        .header-txt p{
            font-size: 15px;
            color: #c1c1c1;
            margin-bottom: 50px;
            padding-top: 25px;
            color: #fff;
            flex-wrap: wrap;
        }
    
    
        
    .btn-prin{
        display: inline-block;
        padding: 13px 30px;
        background: #21A642;
        color: #ffff;
        font-size: 18px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
        margin-left: 50px;
        flex-wrap: wrap;
    }
    
    .btn-prin:hover{
        background: #ffff;
        color: #21A642;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    }
    
    .header-content{
        background: url(/imgHoteles/Banner\ Hoteles.png) no-repeat;
        height: 86vh;
        display: flex;     
        background-size:cover;
        background-position: center;
        max-width: 100vw;
    }
}