@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body{
    background-color: black;
}

.logo{
    padding-left: 25px;
}


.img{
    max-width: 100%;
}

header{
    min-height: 100vh;
}

.container{
    background-color: #ffffff;
    width: 100vw;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    padding: 0 20px;
    font-size: 25px;
    margin-top: 30px;
    margin-right: 10px;
    font-family:"Saira Extra Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.navbar ul li a {
    color: black;
    background-color: transparent;
}

.navbar ul li a:hover{
    color: #dd5151;
}

.navbar .btn-barra{
    color: #fff;
    background-color:#F21616;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
}

.navbar .btn-barra:hover{
    background-image: linear-gradient(225deg, #fc7777 0, #fc7777 50%, #fc7777 100%);
    color: #fff;
}
#menu{
    display: none;
}

.menu-icono{
    width: 50px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
}

.header-txt{
    flex-basis: 50%;
    padding-left: 900px;
    flex-wrap: wrap;
}

.header-txt h1{
    font-size: 70px;
    font-weight: 800;
    margin-top: 250px;
    color: #fff;
    font-family:"Saira Extra Condensed", sans-serif;
    font-weight: 800;
    font-style: bold;
}

.header-txt p{
    font-size: 20px;
    color: #c1c1c1;
    margin-bottom: 50px;
    padding-top: 25px;
    color: #fff;
}

.btn-prin{
    display: inline-block;
    padding: 13px 30px;
    background: #21A642;
    color: #ffff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    margin-left: 120px;
}

.btn-prin:hover{
    background: #ffff;
    color: #21A642;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

.header-content{
    background: url(/imgbanner/foto\ banner.jpg) no-repeat;
    height: 86vh;
    display: flex;     
    background-size:cover;
    background-position: center;
    max-width: 100%;
}

/* css del contador */

.tiempo{
    margin-top: 0px;
}

.tiempo h2{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-family:"Saira Extra Condensed", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 40px;
}

#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
    padding-top: 25px;
}

.simply-section {
	background: #21A642;
	width: 150px;
	height: 150px;
	margin: 0 15px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #fff;
}

.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
    color: #24303c;
}




.premio{
    background: url(/imgbanner/fondobicis.png)no-repeat;
    background-position: center;
    width: 100%;
}
.premio h2{
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

.premio h2 .uno{
    text-align: center;
    color: #dd211a;
}

.premio h2 .dos{
    text-align: center;
    color: #21A642;
}

.imagen-premio{
    display: flex;
    flex-wrap: wrap;
}

.bici{
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 620px;
    margin-top: 150px;
}

.bicis{
    justify-content: space-between;
    padding-left: 450px;
}

.invitados h2{
    color: #fff;
    text-align: center;
    padding-top: 250px;
}

.invitados p{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    max-width: 1440px;
    padding-left: 200px;
    font-size: 20px;
}

.per{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 100px;
}


.te{
    padding-left: 220px;
    display: flex;
    justify-content: space-between;
    margin: -100px 200px 0px 0px;
    color: #fff;
    padding-top: 25px;
    font-size: 25px;
}

.rutas{
    display: flex;
    flex-wrap: wrap;
}

.boton-strava{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-strava:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gpx{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gpx:hover{
    color: #dd211a;
    background-color: #fff;
}

.cafe{
    align-items: center;
    background: url(/imgbanner/fondocafe.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 450px;
    margin-top: 200px;
    flex-wrap: wrap;
}
.cafe h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.cafe-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.desnivelcafe img{
    display: flex;
    height: 400px;
    width: 600px;
    padding-right: 150px;
    margin-top: -130px;
    flex-wrap: wrap;
}


.boton-stra{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-stra:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gp{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gp:hover{
    color: #dd211a;
    background-color: #fff;
}

.quetzal{
    align-items: center;
    background: url(/imgbanner/fondoquetzal.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 450px;
    margin-top: 400px;
    flex-wrap: wrap;
}
.quetzal h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.quet-btn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.desnivelquet img{
    display: flex;
    height: 400px;
    width: 600px;
    padding-right: 150px;
    margin-top: -130px;
    flex-wrap: wrap;
}

/*Final Seccion rutas*/

/* carrucel */
.corrucell{
    width: 750vw;
}
.slider{
    width: max-content;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 500px;
    position: relative;
    
}

.slider h2{
    color: #fff;
    padding-left: 850px;
    font-size: 25px;
}

.nombre{
    background-color: #fff;
    color: #000000;
    align-items: center;
    max-width: 1440px;
    margin-top: 210px;
    margin-left: 200px;
    background-size: cover;
}

.nombre h2{
    margin-left: 600px;
    font-size: 25px;
}

.slider .slide-track{
    display: flex;
    animation: scroll 90s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);
    margin-top: 50px;

}

.slide .slidee{
    width: 200px;
}

.slider .slidee img{
    width: 100%;
}


@keyframes scroll {
    0%{
        -webkit-transfor: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transfor: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }

}

/*Final seccion carrucel*/

/*inicio de seccion camisa del evento*/

.camisa-oficial{
    flex-wrap: wrap;
    align-items: center;
    padding-top: 400px;
}

.camisa-oficial h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.camisasquetzal img{
    max-width: 1440px;
    height: 700px;
    width: 600px;
    margin-left: 250px;
}

/*Final seccion camisas*/

/*incio seccion de inscripcion*/

.form-register {
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    flex-wrap: wrap;
}

.form-register h4 {
    padding-left: 550px;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: red;
    text-align: left;
    margin-left: 450px;
}

.form-register p {
    height: 40px;
    padding-left: 700px;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: #fff;
    text-decoration: none;
}

.form-register a:hover {
    color:#F21616;
    text-decoration: underline;
}

.form-register .botons {
    width: 10%;
    background: #F21616;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 20px;
    margin-left: 820px;
    cursor: pointer;
}


.efectobar{
    background: #21A642;
}

.efectob{
    background-color: red;
}
.bar{
    background: violet;
}


/*inicio footeer*/


footer {
    background-color: #86BC9A;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.social-links a{
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}

.social-links a:hover{
    color: #dd211a;
}


.social-icon {
    margin: 0 10px;
    display: inline-block;
}

.social-icon img {
    width: 24px;
    height: 24px;
}

.copyright {
    font-size: 14px;
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .social-icon img {
        width: 20px;
        height: 20px;
    }
    
    .footer-logo {
        max-width: 120px;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        max-width: 100px;
    }
    
    .social-icon img {
        width: 18px;
        height: 18px;
    }
}







/*final footer*/

@media(max-width:1400px){
    .premio{
        background: url(/imgbanner/fondobicis.png)no-repeat;
        background-position: center; 
    }
    .premio h2{
        text-align: center;
        color: #fff;
        padding-top: 20px;
        font-size: 25px;
    }
    
    .premio h2 .uno{
        text-align: center;
        color: #dd211a;
    }
    
    .premio h2 .dos{
        text-align: center;
        color: #21A642;
    }
    
    .imagen-premio{
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .bici{
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 100px;
        margin-top: 140px;
    }
    
    .bicis{
        justify-content: space-between;
        padding-left: 280px;
    }
    

}

@media(max-width:1200px){

    .menu{
        padding: 30px;
        position: relative;
    }

    .menu label{
        display: initial;
        padding-top: 30px;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:   linear-gradient(45deg, #21a642 0%,#545454 100%);
        display: none;
    }
    .menu .navbar ul{
        flex-direction: column;
        padding: 0 20px;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 15px 0;
        text-align: center;
        font-size: 25px;
    }

    .menu .navbar ul li a:hover{
        color: #1f0c42;
    }
    .navbar .btn-barra{
        background-color: transparent;
        color: #e72424;
    }


    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-txt{
        padding-left: 500px;
    }
    .header-txt h1{
        font-size: 40px;
        font-weight: 600;
        margin-top: 250px;
        color: #fff;
    }
    
    .header-txt p{
        font-size: 15px;
        color: #c1c1c1;
        margin-bottom: 50px;
        padding-top: 25px;
        color: #fff;
    }


    
.btn-prin{
    display: inline-block;
    padding: 13px 30px;
    background: #21A642;
    color: #ffff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    margin-left: 50px;
}

.btn-prin:hover{
    background: #ffff;
    color: #21A642;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

.header-content{
    background: url(/imgbanner/foto\ banner.jpg) no-repeat;
    height: 86vh;
    display: flex;     
    background-size:cover;
    background-position: center;
    max-width: 100vw;
}

.premio{
    background: url(/imgbanner/fondobicis.png)no-repeat;
    background-position: center; 
}
.premio h2{
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.premio h2 .uno{
    text-align: center;
    color: #dd211a;
}

.premio h2 .dos{
    text-align: center;
    color: #21A642;
}

.imagen-premio{
    display: flex;
    flex-wrap: wrap;
    
}

.bici{
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 270px;
    margin-top: 150px;
}

.bicis{
    justify-content: space-between;
    padding-left: 50px;
}

.invitados h2{
    color: #fff;
    text-align: center;
    padding-top: 250px;
}

.invitados p{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    max-width: 1440px;
    padding-left: 20px;
    font-size: 20px;
}

.per{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 100px;
}


.te{
    display: none;
}

.rutas{
    display: flex;
    flex-wrap: wrap;
}

.boton-strava{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-strava:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gpx{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gpx:hover{
    color: #dd211a;
    background-color: #fff;
}

.cafe{
    align-items: center;
    background: url(/imgbanner/fondocafe.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 130px;
    margin-top: 0px;
    flex-wrap: wrap;
}
.cafe h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.cafe-btn {
    flex-wrap: wrap;
    margin-right: 400px;
}

.desnivelcafe img{
    display: flex;
    height: 300px;
    width: 400px;
    padding-right: 150px;
    margin-top: -150px;
    flex-wrap: wrap;
}
.rutacafeimg{
    padding-left: 500px;
    padding-top: 50px;
    width: 400px;
    height: 400px;
}


.boton-stra{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-stra:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gp{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gp:hover{
    color: #dd211a;
    background-color: #fff;
}

.quetzal{
    align-items: center;
    background: url(/imgbanner/fondoquetzal.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 130px;
    margin-top: 100px;
    flex-wrap: wrap;
}
.quetzal h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.quet-btn{
    margin-right: 400px;
    flex-wrap: wrap;
}

.desnivelquet img{
    display: flex;
    height: 300px;
    width: 400px;
    padding-right: 150px;
    margin-top: -150px;
    flex-wrap: wrap;
}

.rutaquetzaal{
    padding-left: 500px;
    padding-top: 50px;
    width: 300px;
    height: 400px;
}


/*Final Seccion rutas*/

/* carrucel */

.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-left: 100px;
    margin-top: 200px;
    position: relative;
}

.slider h2{
    margin: 25px;
}

.slider .slide-track{
    display: flex;
    animation: scroll 90s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);

}

.slide .slidee{
    width: 200px;
}

.slider .slidee img{
    width: 100%;
}


@keyframes scroll {
    0%{
        -webkit-transfor: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transfor: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }

}

/*Final seccion carrucel*/

/*inicio de seccion camisa del evento*/

.camisa-oficial{
    flex-wrap: wrap;
    align-items: center;
    padding-top: 200px;
}

.camisa-oficial h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.camisasquetzal img{
    max-width: 1440px;
    height: 500px;
    width: 400px;
    margin-left: 320px;
    padding-top: 25px;
}

/*Final seccion camisas*/

/*incio seccion de inscripcion*/

.form-register {
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    flex-wrap: wrap;
}

.form-register h4 {
    padding-left: 150px;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: red;
    text-align: center;
    margin-left: 200px;
}


.form-register a {
    color: #fff;
    text-decoration: none;
}

.form-register a:hover {
    color:#F21616;
    text-decoration: underline;
}

.form-register .botons {
    width: 50%;
    background: #F21616;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 20px;
    margin-left: 215px;
    cursor: pointer;
}


.efectobar{
    background: #21A642;
}

.efectob{
    background-color: red;
}
.bar{
    background: violet;
}


/*inicio footeer*/

footer {
    background-color: #86BC9A;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.redes-sociales a {
    color: #fff;
    font-size: 40px;
    margin: 10px;
}

.logof {
    padding-left: 0px;
}

.opciones {
    margin: 20px;
}

.opciones a {
    color: white;
    text-decoration: none;
}

.opciones a:hover {
    text-decoration: underline;
    color: #F21616;
}

/*final footer*/


}



@media(max-width:1024px){

    .container{
        margin: 0 auto;
        background-color: #ffffff;
        width: 100vw;
    }

    .menu{
        padding: 30px;
        position: relative;
    }

    .menu label{
        display: initial;
        padding-top: 30px;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:   linear-gradient(45deg, #21a642 0%,#545454 100%);
        display: none;
    }
    .menu .navbar ul{
        flex-direction: column;
        padding: 0 20px;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 15px 0;
        text-align: center;
        font-size: 25px;
    }

    .menu .navbar ul li a:hover{
        color: #1f0c42;
    }
    .navbar .btn-barra{
        background-color: transparent;
        color: #e72424;
    }


    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-txt{
        padding-left: 500px;
    }
    .header-txt h1{
        font-size: 40px;
        font-weight: 600;
        margin-top: 250px;
        color: #fff;
    }
    
    .header-txt p{
        font-size: 15px;
        color: #c1c1c1;
        margin-bottom: 50px;
        padding-top: 25px;
        color: #fff;
    }


    
.btn-prin{
    display: inline-block;
    padding: 13px 30px;
    background: #21A642;
    color: #ffff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    margin-left: 50px;
}

.btn-prin:hover{
    background: #ffff;
    color: #21A642;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

.header-content{
    background: url(/imgbanner/foto\ banner.jpg) no-repeat;
    height: 86vh;
    display: flex;     
    background-size:cover;
    background-position: center;
    max-width: 100vw;
}

.premio{
    background: url(/imgbanner/fondobicis.png)no-repeat;
    background-position: center; 
}
.premio h2{
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.premio h2 .uno{
    text-align: center;
    color: #dd211a;
}

.premio h2 .dos{
    text-align: center;
    color: #21A642;
}

.imagen-premio{
    display: flex;
    flex-wrap: wrap;
    
}

.bici{
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 180px;
    margin-top: 150px;
}

.bicis{
    justify-content: space-between;
    padding-left: 280px;
}

.invitados h2{
    color: #fff;
    text-align: center;
    padding-top: 250px;
}

.invitados p{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    max-width: 1440px;
    padding-left: 20px;
    font-size: 20px;
}

.per{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 100px;
}


.te{
    display: none;
}

.rutas{
    display: flex;
    flex-wrap: wrap;
}

.boton-strava{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-strava:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gpx{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gpx:hover{
    color: #dd211a;
    background-color: #fff;
}

.cafe{
    align-items: center;
    background: url(/imgbanner/fondocafe.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 100px;
    margin-top: 0px;
    flex-wrap: wrap;
}
.cafe h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.cafe-btn {
    flex-wrap: wrap;
    margin-right: 400px;
}

.desnivelcafe img{
    display: flex;
    height: 300px;
    width: 400px;
    padding-right: 150px;
    margin-top: -150px;
    flex-wrap: wrap;
}
.rutacafeimg{
    padding-left: 500px;
    padding-top: 50px;
    width: 400px;
    height: 400px;
}


.boton-stra{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-stra:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gp{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gp:hover{
    color: #dd211a;
    background-color: #fff;
}

.quetzal{
    align-items: center;
    background: url(/imgbanner/fondoquetzal.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
}
.quetzal h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.quet-btn{
    margin-right: 400px;
    flex-wrap: wrap;
}

.desnivelquet img{
    display: flex;
    height: 300px;
    width: 400px;
    padding-right: 150px;
    margin-top: -150px;
    flex-wrap: wrap;
}

.rutaquetzaal{
    padding-left: 500px;
    padding-top: 50px;
    width: 300px;
    height: 400px;
}


/*Final Seccion rutas*/

/* carrucel */

.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-left: 100px;
    margin-top: 200px;
    position: relative;
}

.slider h2{
    margin: 25px;
}

.slider .slide-track{
    display: flex;
    animation: scroll 90s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);

}

.slide .slidee{
    width: 200px;
}

.slider .slidee img{
    width: 100%;
}


@keyframes scroll {
    0%{
        -webkit-transfor: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transfor: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }

}

/*Final seccion carrucel*/

/*inicio de seccion camisa del evento*/

.camisa-oficial{
    flex-wrap: wrap;
    align-items: center;
    padding-top: 200px;
}

.camisa-oficial h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.camisasquetzal img{
    max-width: 1440px;
    height: 500px;
    width: 400px;
    margin-left: 320px;
    padding-top: 25px;
}

/*Final seccion camisas*/

/*incio seccion de inscripcion*/

.form-register {
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    flex-wrap: wrap;
}

.form-register h4 {
    padding-left: 150px;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: red;
    text-align: center;
    margin-left: 200px;
}


.form-register a {
    color: #fff;
    text-decoration: none;
}

.form-register a:hover {
    color:#F21616;
    text-decoration: underline;
}

.form-register .botons {
    width: 50%;
    background: #F21616;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 20px;
    margin-left: 215px;
    cursor: pointer;
}


.efectobar{
    background: #21A642;
}

.efectob{
    background-color: red;
}
.bar{
    background: violet;
}


/*inicio footeer*/

footer {
    background-color: #86BC9A;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.redes-sociales a {
    color: #fff;
    font-size: 40px;
    margin: 10px;
}

.logof {
    padding-left: 0px;
}

.opciones {
    margin: 20px;
}

.opciones a {
    color: white;
    text-decoration: none;
}

.opciones a:hover {
    text-decoration: underline;
    color: #F21616;
}

/*final footer*/


}





@media(max-width:991px){

    .header-content{
        padding: 30px;
        margin-top: 0;
        flex-direction: column;
        text-align: center;
        height: 80vh;
    }

    .header-txt{
        padding: 0 0 40px 0;
        margin-top: 150px;
    }  
    .navbar .btn-barra{
        background-color: transparent;
        color: #e72424;
    }

    .btn-prin{
        margin-left: 10px;
    }

}

@media(max-width:768px){
    .container{
        margin: 0 auto;
        background-color: #ffffff;
        width: 100vw;
    }

    .menu{
        padding: 30px;
        position: relative;
    }

    .menu label{
        display: initial;
        padding-top: 30px;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:   linear-gradient(45deg, #21a642 0%,#545454 100%);
        display: none;
    }
    .menu .navbar ul{
        flex-direction: column;
        padding: 0 20px;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu .navbar ul li a:hover{
        color: #1f0c42;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-txt{
        padding-left: 50px;
    }
    .header-txt h1{
        font-size: 50px;
        font-weight: 600;
        margin-top: 50px;
        color: #fff;
    }
    
    .header-txt p{
        font-size: 20px;
        color: #c1c1c1;
        margin-bottom: 50px;
        padding-top: 25px;
        color: #fff;
    }


    
.btn-prin{
    display: inline-block;
    padding: 13px 30px;
    background: #21A642;
    color: #ffff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    margin-left: 50px;
}

.btn-prin:hover{
    background: #ffff;
    color: #21A642;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

.header-content{
    background: url(/imgbanner/foto\ banner.jpg) no-repeat;
    height: 86vh;
    display: flex;     
    background-size:cover;
    background-position: center;
    max-width: 100vw;
}

.premio{
    background: url(/imgbanner/fondobicis.png)no-repeat;
    background-position: center; 
}
.premio h2{
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.premio h2 .uno{
    text-align: center;
    color: #dd211a;
}

.premio h2 .dos{
    text-align: center;
    color: #21A642;
}

.imagen-premio{
    display: flex;
    flex-wrap: wrap;
    
}

.bici{
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 70px;
    margin-top: 100px;
}

.bicis{
    justify-content: space-between;
    padding-left: 150px;
}

.invitados h2{
    color: #fff;
    text-align: center;
    padding-top: 200px;
}

.invitados p{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    max-width: 1440px;
    padding-left: 0px;
    font-size: 17px;
}

.per{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    padding-left: 70px;
}

.per img{
    margin: 10px;
}


.te{
    display: none;
}

.rutas{
    display: flex;
    flex-wrap: wrap;
}

.boton-strava{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-strava:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gpx{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gpx:hover{
    color: #dd211a;
    background-color: #fff;
}

.cafe{
    align-items: center;
    background: url(/imgbanner/fondocafe.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 30px;
    margin-top: 0px;
    flex-wrap: wrap;
}
.cafe h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.cafe-btn {
    flex-wrap: wrap;
    margin-right: 500px;
}

.desnivelcafe img{
    height: 300px;
    width: 400px;
    padding-right: 300px;
    margin-top: -100px;
    flex-wrap: wrap;
}
.rutacafeimg{
    padding-left: 350px;
    padding-top: 50px;
    width: 400px;
    height: 400px;
}


.boton-stra{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-stra:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gp{
    background-color: #dd211a;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gp:hover{
    color: #dd211a;
    background-color: #fff;
}

.quetzal{
    align-items: center;
    background: url(/imgbanner/fondoquetzal.png) no-repeat;
    height: 100vh;
    width: 100vh;    
    background-size:cover;
    background-position: center;
    max-width: 1440px;
    margin-left: 30px;
    margin-top: 100px;
    flex-wrap: wrap;
}
.quetzal h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.quet-btn{
    margin-right: 500px;
    flex-wrap: wrap;
}

.desnivelquet img{
    display: flex;
    height: 300px;
    width: 400px;
    padding-right: 200px;
    margin-top: -150px;
    flex-wrap: wrap;
}

.rutaquetzaal{
    padding-left: 410px;
    padding-top: 50px;
    width: 300px;
    height: 400px;
}

.ruta{
    padding-top: 100px;
}


/*Final Seccion rutas*/

/* carrucel */

.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-left: 100px;
    margin-top: 200px;
    position: relative;
}

.slider h2{
    margin: 25px;
}

.slider .slide-track{
    display: flex;
    animation: scroll 90s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);

}

.slide .slidee{
    width: 200px;
}

.slider .slidee img{
    width: 100%;
}


@keyframes scroll {
    0%{
        -webkit-transfor: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transfor: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }

}

/*Final seccion carrucel*/

/*inicio de seccion camisa del evento*/

.camisa-oficial{
    flex-wrap: wrap;
    align-items: center;
    padding-top: 170px;
}

.camisa-oficial h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.camisasquetzal img{
    max-width: 1440px;
    height: 500px;
    width: 400px;
    margin-left: 190px;
    padding-top: 20px;
}

/*Final seccion camisas*/

/*incio seccion de inscripcion*/

.form-register {
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    flex-wrap: wrap;
}

.form-register h4 {
    padding-left: 70px;
    font-size: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.controls {
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: red;
    text-align: center;
    margin-left: 160px;
}


.form-register a {
    color: #fff;
    text-decoration: none;
}

.form-register a:hover {
    color:#F21616;
    text-decoration: underline;
}

.form-register .botons {
    width: 50%;
    background: #F21616;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 20px;
    margin-left: 170px;
    cursor: pointer;
}


.efectobar{
    background: #21A642;
}

.efectob{
    background-color: red;
}
.bar{
    background: violet;
}


/*inicio footeer*/

footer {
    background-color: #86BC9A;
    flex-wrap: wrap;
    width: 100%;
}

.redes-sociales a {
    color: #fff;
    font-size: 40px;
    margin: 5px;
}

.logof {
    padding-left: 0px;
}

.opciones {
    margin: 10px;
}

.opciones a {
    color: white;
    text-decoration: none;
}

.opciones a:hover {
    text-decoration: underline;
    color: #F21616;
}
}

@media(max-width:400px){


    body{
        overflow: hidden;
    }

    .logo img{
        width: 100px;
        height: 90px;
    }
    .container{
        margin: 0 auto;
        background-color: #ffffff;
        width: 100vw;
    }

    .menu{
        padding: 30px;
        position: relative;
    }

    .menu label{
        display: initial;
        padding-top: 30px;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:   linear-gradient(45deg, #21a642 0%,#545454 100%);
        display: none;
    }
    .menu .navbar ul{
        flex-direction: column;
        padding: 0 20px;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu .navbar ul li a:hover{
        color: #1f0c42;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-txt{
        padding-left: 0px;
    }
    .header-txt h1{
        font-size: 40px;
        font-weight: 600;
        margin-top: 0px;
        color: #fff;
    }
    
    .header-txt p{
        font-size: 15px;
        color: #c1c1c1;
        margin-bottom: 50px;
        padding-top: 25px;
        color: #fff;
    }


    
.btn-prin{
    display: inline-block;
    padding: 10px 20px;
    background: #21A642;
    color: #ffff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    margin-left: 0px;
}

.btn-prin:hover{
    background: #ffff;
    color: #21A642;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

.header-content{
    background: url(/imgbanner/foto\ banner.jpg) no-repeat;
    height: 86vh;
    display: flex;     
    background-size:cover;
    background-position: center;
    max-width: 100vw;
}

/* css del contador */

.tiempo{
    margin-top: 0px;
    flex-wrap: wrap;
}

.tiempo h2{
    color: #fff;
    text-align: center;
    padding-top: 25px;
}

#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
    padding-top: 25px;
}

.simply-section {
	background: #21A642;
	width: 80px;
	height: 90px;
	margin: 0 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #fff;
    flex-wrap: wrap;
    margin: 5px;
}

.simply-amount {
	flex-wrap: wrap;
	font-size: 30px;
}

.simply-word {
	font-weight: 300;
	font-size: 20px;
    color: #24303c;
}


.premio{
    background: url(/imgbanner/fondobicis.png)no-repeat;
    background-position: center;
}
.premio h2{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
    flex-wrap: wrap;
}

.premio h2 .uno{
    text-align: center;
    color: #dd211a;
}

.premio h2 .dos{
    text-align: center;
    color: #21A642;
}

.imagen-premio{
    flex-wrap: wrap;
}

.bici{
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-top: 50px;
}

.bici img{
    width: 300px;
    height: 200px;
}

.bicis img{
    display: none;
}

.invitados h2{
    color: #fff;
    text-align: center;
    padding-top: 200px;
}

.invitados p{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
}

.per{
    flex-wrap: wrap;
    display: flex;
}

.per img{
    display: none;
}


.te{
    display: none;
}

.rutas{
    display: flex;
    flex-wrap: wrap;
}

.boton-strava{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-strava:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gpx{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gpx:hover{
    color: #dd211a;
    background-color: #fff;
}

.cafe{
    align-items: center;
    background: url(/imgbanner/fondocafe.png) no-repeat;

    background-size:cover;
    background-position: center;
    margin-top: 0px;
    flex-wrap: wrap;
}
.cafe h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.cafe-btn {
    flex-wrap: wrap;
    margin-right: 500px;
}

.desnivelcafe img{
    display: none;
}
.rutacafeimg{
    padding-left: 60px;
    padding-top: 50px;
    width: 200px;
    height: 300px;
}


.boton-stra{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-stra:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gp{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gp:hover{
    color: #dd211a;
    background-color: #fff;
}

.quetzal{
    flex-wrap: wrap;
}
.quetzal h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.quet-btn{
    margin-right: 500px;
    flex-wrap: wrap;
}

.desnivelquet img{
    display: none;
}

.rutaquetzaal{
    padding-left: 60px;
    padding-top: 50px;
    width: 200px;
    height: 300px;
}

.ruta{
    padding-top: 100px;
}


/*Final Seccion rutas*/

/* carrucel */

.slider{
    width: 70vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-left: 70px;
    margin-top: 300px;
    position: relative;
}

.slider h2{
    margin: 25px;
}

.slider .slide-track{
    display: flex;
    animation: scroll 90s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);

}

.slide .slidee{
    width: 200px;
}

.slider .slidee img{
    width: 100%;
}


@keyframes scroll {
    0%{
        -webkit-transfor: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transfor: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }

}

/*Final seccion carrucel*/

/*inicio de seccion camisa del evento*/

.camisa-oficial{
    flex-wrap: wrap;
    align-items: center;
    padding-top: 170px;
}

.camisa-oficial h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.camisasquetzal img{
    height: 300px;
    width: 200px;
    margin-left: 110px;
    padding-top: 20px;
}

/*Final seccion camisas*/

/*incio seccion de inscripcion*/

.form-register {
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 90px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    flex-wrap: wrap;
}

.form-register h4 {
    padding-left: 60px;
    font-size: 17px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.controls {
    width: 40%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: red;
    text-align: center;
    margin-left: 80px;
    font-size: 15px;
}


.form-register a {
    color: #fff;
    text-decoration: none;
}

.form-register a:hover {
    color:#F21616;
    text-decoration: underline;
}

.form-register .botons {
    width: 40%;
    background: #F21616;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 17px;
    margin-left: 90px;
    cursor: pointer;
}


.efectobar{
    background: #21A642;
}

.efectob{
    background-color: red;
}
.bar{
    background: violet;
}


/*inicio footeer*/

footer {
    background: #86BC9A;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.redes-sociales {
    padding-top: 30px;
}


.redes-sociales a {
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

.logof {
    padding-right: 100px;
    padding-top: 50px;
    width: 50px;
    height: 100px;
}

.opciones {
    margin: 25px;
}

}





@media(max-width:600px){


    body{
        overflow: hidden;
    }

    .logo img{
        width: 100px;
        height: 90px;
    }
    .container{
        margin: 0 auto;
        background-color: #ffffff;
        width: 100vw;
    }

    .menu{
        padding: 30px;
        position: relative;
    }

    .menu label{
        display: initial;
        padding-top: 30px;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:   linear-gradient(45deg, #21a642 0%,#545454 100%);
        display: none;
    }
    .menu .navbar ul{
        flex-direction: column;
        padding: 0 20px;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu .navbar ul li a:hover{
        color: #1f0c42;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-txt{
        padding-left: 0px;
    }
    .header-txt h1{
        font-size: 40px;
        font-weight: 600;
        margin-top: 0px;
        color: #fff;
    }
    
    .header-txt p{
        font-size: 15px;
        color: #c1c1c1;
        margin-bottom: 50px;
        padding-top: 25px;
        color: #fff;
    }


    
.btn-prin{
    display: inline-block;
    padding: 10px 20px;
    background: #21A642;
    color: #ffff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    margin-left: 0px;
}

.btn-prin:hover{
    background: #ffff;
    color: #21A642;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

.header-content{
    background: url(/imgbanner/foto\ banner.jpg) no-repeat;
    height: 86vh;
    display: flex;     
    background-size:cover;
    background-position: center;
    max-width: 100vw;
}

/* css del contador */

.tiempo{
    margin-top: 0px;
    flex-wrap: wrap;
}

.tiempo h2{
    color: #fff;
    text-align: center;
    padding-top: 2px;
    font-size: 30px;
}

#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
    padding-top: 25px;
}

.simply-section {
	background: #21A642;
	width: 80px;
	height: 90px;
	margin: 0 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #fff;
    flex-wrap: wrap;
    margin: 5px;
}

.simply-amount {
	flex-wrap: wrap;
	font-size: 20px;
}

.simply-word {
	font-weight: 300;
	font-size: 15px;
    color: #24303c;
}


.premio{
    background: url(/imgbanner/fondobicis.png)no-repeat;
    background-position: center;
}
.premio h2{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
    flex-wrap: wrap;
}

.premio h2 .uno{
    text-align: center;
    color: #dd211a;
    font-size: 20px;
}

.premio h2 .dos{
    text-align: center;
    color: #21A642;
    font-size: 20px;
}

.imagen-premio{
    flex-wrap: wrap;
}

.bici{
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-top: 50px;
}

.bici img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.bicis img{
    display: none;
}

.invitados h2{
    color: #fff;
    text-align: center;
    padding-top: 200px;
}

.invitados p{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
}

.per{
    flex-wrap: wrap;
    display: flex;
}

.per img{
    display: none;
}


.te{
    display: none;
}

.rutas{
    display: flex;
    flex-wrap: wrap;
}

.boton-strava{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-strava:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gpx{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gpx:hover{
    color: #dd211a;
    background-color: #fff;
}

.cafe{
    align-items: center;
    background: url(/imgbanner/fondocafe.png) no-repeat;
    background-size:cover;
    background-position: center;
    margin-top: 0px;
    flex-wrap: wrap;
}
.cafe h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.cafe-btn {
    flex-wrap: wrap;
    margin-right: 500px;
}

.desnivelcafe img{
    display: none;
}
.rutacafeimg{
    padding-left: 60px;
    padding-top: 50px;
    width: 200px;
    height: 300px;
}


.boton-stra{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-stra:hover{
    color: #dd211a;
    background-color: #fff;
}

.boton-gp{
    background-color: #dd211a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
}

.boton-gp:hover{
    color: #dd211a;
    background-color: #fff;
}

.quetzal{
    flex-wrap: wrap;
}
.quetzal h2{
    color: #fff;
    padding-top: 100px;
    font-size: 35px;
    margin: 50px;
}

.quet-btn{
    margin-right: 500px;
    flex-wrap: wrap;
}

.desnivelquet img{
    display: none;
}

.rutaquetzaal{
    padding-left: 60px;
    padding-top: 50px;
    width: 200px;
    height: 300px;
}

.ruta{
    padding-top: 100px;
}


/*Final Seccion rutas*/

/* carrucel */

.slider{
    width: 70vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-left: 70px;
    margin-top: 100px;
    position: relative;
}

.slider h2{
    margin: 25px;
}

.slider .slide-track{
    display: flex;
    animation: scroll 90s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);

}

.slide .slidee{
    width: 200px;
}

.slider .slidee img{
    width: 100%;
}


@keyframes scroll {
    0%{
        -webkit-transfor: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transfor: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }

}

/*Final seccion carrucel*/

/*inicio de seccion camisa del evento*/

.camisa-oficial{
    flex-wrap: wrap;
    padding-top: 170px;
}

.camisa-oficial h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
}


.camisasquetzal img{
    height: 200px;
    width: 150px;
    margin-inline-start: 40px;
}

/*Final seccion camisas*/

/*incio seccion de inscripcion*/

.form-register {
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 90px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    flex-wrap: wrap;
}

.form-register h4 {
    padding-left: 50px;
    font-size: 17px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.controls {
    width: 40%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: red;
    text-align: center;
    margin-left: 100px;
    font-size: 15px;
}


.form-register a {
    color: #fff;
    text-decoration: none;
}

.form-register a:hover {
    color:#F21616;
    text-decoration: underline;
}

.form-register .botons {
    width: 40%;
    background: #F21616;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 17px;
    margin-left: 110px;
    cursor: pointer;
}


.efectobar{
    background: #21A642;
}

.efectob{
    background-color: red;
}
.bar{
    background: violet;
}


/*inicio footeer*/

footer {
    background: #86BC9A;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.redes-sociales {
    padding-top: 30px;
}


.redes-sociales a {
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

.logof {
    padding-right: 100px;
    padding-top: 50px;
    width: 50px;
    height: 100px;
}

.opciones {
    margin: 25px;
}

}